body {
  height: 100vh;
  background-image: url("./images/map.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    height: 100%;
}

header {
    font-size: 1.7rem;
}

.card{
    height: 20vmin;
    width: 20vmin;
    position: relative;
}

.card-back {
  background-image: url('./images/pirate.png');
}

.barrel {
  background-image: url('./images/barrel.png');
}

.cannon
{
  background-image: url('./images/cannon.png');
}
.compass {
  background-image: url('./images/compass.png');
}

.flag {
  background-image: url('./images/flag.png');
}

.mermaid {
  background-image: url('./images/mermaid.png');
}

.telescope {
  background-image: url('./images/telescope.png');
}

.palm {
  background-image: url('./images/palm.png');
}

.parrot {
  background-image: url('./images/parrot.png');
}

.pearl {
  background-image: url('./images/pearl.png');
}

.card-front,
.card-back {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
}

.col-1 {
        width: 8%;
    }

    .col-2 {
        width: 16%;
    }

    .col-3 {
        width: 24%;
    }

    .col-4 {
        width: 32%;
    }

    .col-5 {
        width: 40%;
    }

    .col-6 {
        width: 48%;
    }

    .col-7 {
        width: 56%;
    }

    .col-8 {
        width: 64%;
    }

    .col-9 {
        width: 72%;
    }

    .col-10 {
        width: 80%;
    }

    .col-11 {
        width: 88%;
    }

    .col-12 {
        width: 96%;
    }

    .box{
        background-color: lightblue;
        margin: 1rem;
        font-size: 1.5rem;
        height: 75px;
        text-align: center;
        width: 170px;
        padding: 7px;
        font-weight: 700;
    }

    .cardrow {
        justify-content: space-evenly;
        flex-wrap: wrap;
        display: flex;
        height: 100%;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .button {
        margin: 0;
        padding: 2%;
        position: absolute;
        top: 65%;
        margin-left: 32%;
        font-size: 1.5rem;
    }

  .no-viz {
  visibility: hidden;
}

.flip {
  background-color: white;
}
